# Variáveis de Ambiente do Frontend Administrativo (Vite)
# Essas variáveis precisam ser cadastradas nas "Environment Variables" da Vercel

# URL Base da sua API Backend (Produção)
# IMPORTANTE: Para o Vite ler a variável no React, ela OBRIGATORIAMENTE precisa começar com "VITE_"
VITE_API_URL=https://movecity.onrender.com/api

# (Opcional) Ambiente
VITE_ENV=production
